<body style="background-color:#fde3ff;">
  <div class="col">
    <ul class="mb-3">
      <a href="/todo"> Back to homepage</a>
    </ul>
  </div>
  <ul class="mb-3">
    <h1>

      About

    </h1>
  </ul>
  <ul class="mb-2">
    <h3>The Website</h3>
  </ul>
  <ul class="mb-3">

    <body>Book Recommendation gives user information of books such as description, pages, author, books status to help
      them add it to their book read list. It gives users the short description, long description and number of pages.
      Each user will have their list of book they want to read and they can choose to delete once they finish reading
      the book.</body>
  </ul>
  <ul class="mb-2">
    <h3>The Developer</h3>
  </ul>
  <ul>
    <div class="row">
      <ul class="mb-2">
        <div class="text">
          Anjola Uprety - is a first year MS student at Brandeis University. She is fascinated by the field of artifical
          intelligence and how machines use algorithms to gain insights and find patterns by training
          on historical data to predict future outcomes. Upon graduation from Brandeis, she wishes to pursue a career
          where she can build recommendation engines by using machine learning algorithms/ In her spare time, she enjoys
          hiking, biking, and listening to BTS.
        </div>
      </ul>
      <div class="image">
        <img src="images/developer.png" width="25%">
      </div>
    </div>
  </ul>
</body>