<body style="background-color:#f5decf;">
  <div class="col">
    <a href="/todo"> Back to homepage</a>
  </div>
  <h1>
    About the developers
  </h1>
  <ul>
    <li> Anjola Uprety</li>
  </ul>
</body>