<body style="background-color:#fde3ff;">
  <div class="col">
    <ul class="mb-3">
      <a href="/todo"> Back to homepage</a>
    </ul>
  </div>
  <ul class="mb-3">
    <h1>

      About

    </h1>
  </ul>
  <ul class="mb-2">
    <h3>The Website</h3>
  </ul>
  <ul class="mb-3">

    <body>Food Expiration Tracker tells you when your food is going to expire so you will be able to use it before it
      expires.
      An average family of four wastes 25% of food every year. Therefore, this food expiration website will let you
      ingredients or food item with purchased date and also let you add the expiration date.</body>
  </ul>
  <ul class="mb-2">
    <h3>The Developer</h3>
  </ul>
  <ul>
    <div class="row">
      <ul class="mb-2">
        <div class="text">
          Anjola Uprety - is a first year MS student at Brandeis University. She is fascinated by the field of artifical
          intelligence and how machines use algorithms to gain insights and find patterns by training
          on historical data to predict future outcomes. Upon graduation from Brandeis, she wishes to pursue a career
          where she can build recommendation engines by using machine learning algorithms/ In her spare time, she enjoys
          hiking, biking, and listening to BTS.
        </div>
      </ul>
      <div class="image">
        <img src="images/developer.png" width="25%">
      </div>
    </div>
  </ul>
</body>